:root {
  --orange: #faa356;
  --purple: #8e57f7;
  --red: #cf6679;
  --blue: #57acdc;
  --green: #60c689;
  --pink: #ef66b6;
  --black: #212529;
}

@font-face {
  font-family: Cozette;
  src: url(./fonts/CozetteVector.ttf);
}

.cozette {
  font-family: Cozette;
}

body {
  font-family: "Poppins";
}

section {
  padding-top: 100px;
}

.intro {
  padding-left: 80px;
}

.gif {
  width: 250px;
}

.card {
  background-color: #121212;
  border-color: white;
  border-width: 3px;
  border-radius: 0px;
}

.navbar-brand {
  font-size: 20px;
}

.hover-ani {
  display: inline-block;
  position: relative;
  font-size: 18px;
}

.hover-ani::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background-color: #ff9500;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-ani:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.red-hat {
  font-family: "Red Hat Mono";
}

.anton {
  font-family: "Anton";
}

.name {
  font-weight: 800;
  font-size: 56px;
  line-height: 50px;
}

.card-text {
  font-size: 14px;
  color: #9e9e9e;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Anton";
  color: #121212;
  height: 300px;
  border: solid var(--black);
  transition: all 0.6s ease;
  padding: 20px;
}

.box {
  font-size: 4rem;
}

.box:hover {
  box-shadow: inset 0px 0px 1000px 300px rgba(0, 0, 0, 0.6);
  color: white;
}

@media (max-width: 992px) {
  .home {
    justify-content: center;
    text-align: center;
  }
  .box {
    height: 200px;
    font-size: 3rem;
  }
  .gif {
    width: 200px;
  }
  .intro {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 768px) {
  section {
    padding-bottom: 50px;
  }
  .box {
    font-size: 2.5rem;
  }
  .gif {
    width: 160px;
  }
  .intro {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 400px) {
  .gif {
    width: 110px;
  }
}

.modal-img {
  display: block;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}

.modal-img-sm {
  display: block;
  width: 50%;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.bg-black-c {
  background-color: #121212;
}

.bg-orange {
  background-color: var(--orange);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-red {
  background-color: var(--red);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-green {
  background-color: var(--green);
}

.bg-pink {
  background-color: var(--pink);
}

form {
  font-family: Cozette;
}

.square {
  border-radius: 0px;
}

.circle {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.icon {
  height: 50%;
  width: 50%;
}

.label {
  font-size: large;
}

.git-icon:hover {
  background-color: var(--orange);
}

.play-icon:hover {
  background-color: var(--green);
}

.linkedin-icon:hover {
  background-color: var(--blue);
}

.email-icon:hover {
  background-color: var(--red);
}
